{# 403.html is used for 403 Forbidden #}
{%- extends "base/base.html" %}
{% from "base/macros.html" import flash_alert %}
{% set active_page = '403'|default('index') -%}
{% block title %}403 Forbidden{%- endblock title %}
{% block content %}
    <div class="container">
        {{ flash_alert() }}
        <div class="jumbotron">
            <h1 class="display-4">403 Forbidden</h1>
            <p class="lead">Access denied!</p>
            <hr class="my-4">
            <p>You don't have permission to access this page. Please head back to safety...</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
            </p>
        </div>
    </div>
{%- endblock %}
